[MODE]
mode={"login":'all'}
[DB]
db_config={'host':'10.10.10.181',
           'user': 'postgres',
           'password':'postgres',
           'port':5432,
           'database':'clinical_repository'}
[CHECKLEAVEAMOUNT]
check_list=['recharge','invest','withdraw']
[EMAIL]
smtp_config={ 'host': 'smtp.163.com',
              'sender': '15083158852@163.com',
              'password': 'TGZJUHKFOLKWQBBT',
              'receivers': ['haiyu.ma@genomicarebio.com','846683675@qq.com']
              }